.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 70vh;
  gap: 48px;
  padding: 128px 64px 0 80px;
}

.hero-text h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.1;
  margin: 0 0 16px 0;
  letter-spacing: 1px;
}

.highlight {
  background: hwb(0 0% 0%);
  color: #ffffff;
  font-weight: 900;
  padding: 0 8px;
  display: inline-block;
}

.highlight2 {
  background: hwb(0 100% 0%);
  color: #ff0000;
  font-weight: 900;
  padding: 0 8px;
  display: inline-block;
}